.navbarContainer {
  height: 70px;
  background-color: white;
  width: 100%;
}

.navbarBody {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
  padding: 10px 0;
}

/*============================*\
    #Navbar Menu
\*============================*/

#menuContainer {
  flex-basis: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: #e7effc97;
  padding: 5px;
  border-radius: 5px;
  height: 40px;
  border-bottom: 1px solid #ed73017d;
}

#menuContainer ul {
  flex-basis: 60%;
  display: flex;
  justify-content: space-between;
}

#menuContainer ul li a {
  font-size: 13px;
  font-weight: 500;
}

.dropDiv{
  background-color: transparent;
  padding-top: 25px;
  position: absolute;
  top: 0px;
}

#menuContainer ul li{
  position: relative;
  display: flex;
}

#menuContainer ul li ul{
  display: none;
  /* position: absolute; */
  position: relative;
  background-color: #f1f5faec;
  width: 185px;
  border-radius: 5px;
  padding: 10px 15px;
  z-index: 5;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.265);}

#menuContainer ul li ul li{
  margin: 5px 0;
  padding: 10px 0 ;
  border-bottom: 1px solid #ed73017d;
}

#menuContainer ul li ul li:last-child{
  border: none;
}

#menuContainer ul li ul li a{
  color: rgba(0, 0, 0, 0.704);
font-size: 11px;
transition: all .3s ease ;
width: max-content;
}

#menuContainer ul li ul li a:hover{
  color: var(--base-color);
  transition: all .3s ease ;
}
#menuContainer ul li:hover ul{
  display: block;
}

#menuContainer ul li a span:first-child {
  background-color: var(--base-color);
  height: 7px;
  width: 7px;
  border-radius: 5px;
  margin-right: 3px;
}

.dropIcon{
  margin-right: 3px;
  color: var(--base-color);
  font-size: 14px;
}

#menuContainer aside button {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 7px 20px;
  font-size: 12px;
}

/*============================*\
    #Navbar Shop
\*============================*/

.shop {
  flex-basis: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop .shopChild:last-child {
  border-radius: 50%;
  background-color: var(--base-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px;
}

.shop .shopChild:last-child aside {
  height: 2px;
  width: 15px;
  background-color: white;
  margin: 2px;
  border-radius: 10px;
}

.shop .shopChild:last-child aside:nth-child(2) {
  width: 12px;
}

.shop .shopChild:last-child aside:last-child {
  width: 9px;
}

/*============================*\
    #Navbar Logo
\*============================*/

.logo {
  padding-top: 6px ;
  flex-basis: 14%;
  display: grid;
  place-content: center;

}

.logo img {
  width: 100%;
}
