:root{
    --base-color:#ed7501;
    --base-secondary: #e6eefb;
    --base-tertiary:#09c3ff;
    --banner-color: #171719;
    --white: #fff;
    --header-color: #1b2e59;
    --royal-blue:#266ff2;
    --fade-blue:#09c3ff;
    --dark-green: #023a15;
    --light-green: #016241;
    --bright-yellow: #FFEA00;
    --cadmium-yellow: #FDDA0D;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    background-color: var(--base-color);
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase; 
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
}

ul{
    list-style: none;
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #181818;
    text-transform: uppercase;
}

